<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trjx.tbase" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />


    <application
        >
        <!-- Bugly 相关 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />


        <!-- 在依赖的项目中添加次配置 -->
        <!--<provider-->
            <!--android:name="androidx.core.content.FileProvider"-->
            <!--android:authorities="com.trj.tbase.fileprovider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/provider_filepaths"/>-->
        <!--</provider>-->

        <activity android:name=".activity.LookImagesOneActivity"
            android:theme="@style/AppTheme.NoActionBar.transparent"
            />

        <activity android:name=".activity.LookImagesActivity"
            android:theme="@style/AppTheme.NoActionBar.transparent"
            />

        <activity android:name=".activity.LookImages2Activity"
            android:theme="@style/AppTheme.NoActionBar.transparent"
            />

    </application>

</manifest>
